*.pdb
Codit.Blog.Cache/bin/Debug/Newtonsoft.Json.dll
*.dll
Codit.Blog.Cache/obj/Debug/Codit.Blog.Cache.csproj.FileListAbsolute.txt
Codit.Blog.Cache/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Codit.Blog.Cache/bin/Debug/Newtonsoft.Json.xml
*.user
Codit.Blog.Cache/bin/Debug/StackExchange.Redis.StrongName.xml